footer.section-p1
    .col
        h4 MODIST
        .follow
            h4 Follow us
            .icon
                i.fab.fa-facebook-f
                i.fab.fa-twitter
                i.fab.fa-instagram
    .col
        h4 MENU
        a(href="#") About us
        a(href="#") Delivery Information
        a(href="#") Privacy Policy
        a(href="#") Terms & Conditions
        a(href="#") Contact us
    .col
        h4 HELP
        a(href="#") Sign In
        a(href="#") View Cart
        a(href="#") My Wishlist
        a(href="#") Track My Order
        a(href="#") Help
    .col.install
        h4 HAVE A QUESTIONS?
        p 203 Fake St. Mountain View, San Francisco, California, USA
        p +2 392 3929 210
        p info@yourdomain.com