extends base

block append head 
    link(rel="stylesheet" href="/css/login.css")

block content

    .container
        main
            form.login-form#login-form
                p.side-p.main-h1 LE-MODIST
                h1.main-h1 Login
                .form-field
                    input#email(maxlength="18" required="" placeholder="E-mail" type="email")
                    i.fa-solid.fa-signature
                .form-field
                    input#password(required="" placeholder="Password" type="password")
                    i.fa-solid.fa-lock
                .forget-password
                    p Forget Password?
                .forget-password
                    a.link-tag(href="/signup") You don't have an account sign up now!
                div
                    button.btn Login
                .loginMeth
                    p.login-methods Another Login Methods
                    .icons-login
                        i.fa-brands.fa-facebook
                        i.fa-brands.fa-google
                .Check-field
                    input(type="checkbox")
                    | Keep me Signed in
    
    include _footer